<body>
    <div class="model">
      <div class="room">
        <div class="text-cover">
          <h1>Product Name</h1>
          <p class="price"> 199.00 <span>INR</span> / Service/product</p>
          <hr>
          <p>Will be added to your liabrary Once Purchased</p>
          <p>10% Discount on first purchase</p>
        </div>
      </div><div class="payment">
        <div class="receipt-box">
          <h3>Reciept Summary</h3>
          <table class="table">
            <tr>
              <td>Price</td>
              <td>199.00 INR</td>
            </tr>
            <tr>
              <td>Discount</td>
              <td>10% </td>
            </tr>
            <tr>
              <td>Subtotal</td>
              <td>179 INR</td>
            </tr>
            <tr>
              <td>Tax</td>
              <td>10 INR</td>
            </tr>
            <tfoot>
              <tr>
                <td>Total</td>
                <td>₹189</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="payment-info">
          <h3>Payment Details</h3>
          <form>
          <label>Name on Card</label>
          <input type="text" name="firstname" value="">
          <label>Card Number</label>
          <input type="text" name="lastname" value="">

          <br><br>
          <input class="btn" type="submit" value="Place order">
        </form>
        </div>
      </div>
    </div>
  </body>