<div class="background">
    <div class="container">
      <div class="panel pricing-table">
        
        <div class="pricing-plan">
          <div>
            <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
            <h2 class="pricing-header">Basic Plan</h2>
          </div>
          <ul class="pricing-features">
            <li class="pricing-features-item">Video Edits</li>
            <li class="pricing-features-item">Thumbnail Designs</li>
          </ul>
          <div>
            <span class="pricing-price">₹5499</span>
          <a href="http://localhost:4200/check" class="pricing-button is-featured ">Buy Now</a>
          </div>
        </div>
        
        <div class="pricing-plan">
          <div>
            <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Standard Plan</h2>
          </div>
          <ul class="pricing-features">
            <li class="pricing-features-item">Video Edits</li>
            <li class="pricing-features-item">Thumbnail Designs</li>
            <li class="pricing-features-item">Channel Design</li>
            <li class="pricing-features-item">Video SEO</li>
          </ul>
          <div>
            <span class="pricing-price">₹16999</span>
          <a href="http://localhost:4200/check" class="pricing-button is-featured">Buy Now</a>
          </div>
        </div>
        
        <div class="pricing-plan">
          <div>
            <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Advanced Plan</h2>
          </div>
          <ul class="pricing-features">
            <li class="pricing-features-item">Video Edits</li>
            <li class="pricing-features-item">Thumbnail Designs</li>
            <li class="pricing-features-item">Channel Design</li>
            <li class="pricing-features-item">Video SEO</li>
            <li class="pricing-features-item">Podcast Making</li>
            <li class="pricing-features-item">Youtube Manager</li>
          </ul>
          <div>
            <span class="pricing-price">₹28999</span>
          <a href="http://localhost:4200/check" class="pricing-button is-featured">Buy Now</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>