    <!-- Hero Section -->
    <div class="hero">
        <h1>Welcome to Our Feature Showcase</h1>
        <p>Discover the amazing features we offer.</p>
    </div>

    <!-- Cards Section -->
    <div class="cards">
        <div class="card">
            <img src="../../../assets/features-photo/feature1.jpg" alt="">
            <h3>Service Offerings</h3>
            <p>Service Catalog: Detailed descriptions of all services offered, including thumbnail creation, banner design, channel management, and content improvement.
                Pricing Plans: Clear information on pricing, packages, and any subscription models.
                </p>
        </div>
        <div class="card">
            <img src="../../../assets/features-photo/feature2.jpg" alt="">
            <h3>Design Tools and Templates</h3>
            <p> Thumbnail and Banner Design Tools: Built-in tools or templates for users to create or customize thumbnails and banners.
                Template Library: A collection of professionally designed templates for quick and easy customization.</p>
        </div>
        <div class="card">
            <img src="../../../assets/features-photo/feature3.jpg" alt="">
            <h3>Content Improvement and Management</h3>
            <p>Content Strategy Consulting: Access to experts for personalized content strategy advice.
                Video Editing Services: Professional video editing options, including intro/outro creation, sound editing, and more..</p>
        </div>
        <div class="card">
            <img src="../../../assets/features-photo/feature4.jpg" alt="">
            <h3>YouTube Channel Management</h3>
            <p>Analytics Dashboard: Integrated analytics to track channel performance, viewer demographics, and video engagement.
                Scheduling and Posting: Tools for scheduling and automating video uploads and social media posts..</p>
        </div>
        <div class="card">
            <img src="../../../assets/features-photo/feature5.jpg" alt="">
            <h3>Payment and Security</h3>
            <p>Multiple Payment Options: Support for various payment methods including credit/debit cards, PayPal, and other online payment gateways.
                Secure Transactions: Ensuring user data and transactions are secure with SSL certificates and secure payment processing.</p>
        </div>
      
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2024 Our Company. All rights reserved.</p>
    </div>


